<style>
    .item_img{
        width:80px;
    }
</style>

<div class="container">
    <div class="col-sm-10">
        <h2>Cart List</h2>
        <p>My Cart List</p>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>IMG</th>
                <th>ID</th>
                <th>ITEM_NAME</th>
                <th>ITEM_PRICE</th>
                <th>COUNT</th>
                <th>RDATE</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <a href="">
                        <img class="item_img" src="/img/pants01.jpg">
                    </a>
                </td>
                <td>100</td>
                <td>Pants</td>
                <td>20000</td>
                <td>4</td>
                <td>2023-03-31</td>
            </tr>
            <tr>
                <td>
                    <a href="">
                        <img class="item_img" src="/img/pants02.jpg">
                    </a>
                </td>
                <td>101</td>
                <td>Pants</td>
                <td>30000</td>
                <td>5</td>
                <td>2023-03-31</td>
            </tr>
            <tr>
                <td>
                    <a href="">
                        <img class="item_img" src="/img/pants03.jpg">
                    </a>
                </td>
                <td>102</td>
                <td>Pants</td>
                <td>50000</td>
                <td>2</td>
                <td>2023-03-31</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
